<tr>                  
    <td>
        <%= obj["Name"] %>
    </td>                  
    <td>
       <%= obj["type"] %>
    </td> 
    <td>
       <%= obj["Country"] %>
    </td>
    <td>
       <%= obj["Region"] %>
    </td>   
    <td>
       <%= obj["Location"] %>
    </td>                 
    <td>
        <%= obj["depth_m"] %>
    </td>
    <td>
        <%= obj["min_dist_km"] %>
    </td>
    <td>
        <%= obj["surrounding_seabed"] %>
    </td>
    <td>
        <%= obj["reef_typology"] %>
    </td>
    <td>
        <%= obj["exploitation"] %>
    </td>

</tr>
